nav {
   background-color: #cc0000 !important;
   font-size: 20px;
   font-weight: bold;
   display: flex;
   align-items: center;
}

.logo {
   width: 50px;
}
.search-form {
   background-color: white;
   /* padding: 4px;  */
   border-radius: 100px;
   overflow: hidden;
   margin: 0px 20px;
}
.search-form input,
.search-form .search-btn {
   border: none;
   outline: none;
}
.search-form .search-btn {
   padding: 7px 10px;
}
.search-form input {
   width: 420px;
   padding-left: 10px;
   font-size: 17px;
}
.user {
   font-size: 1.5rem;
}
.dropdown-menu:after {
   position: absolute;
   content: "";
   /* height: 10px; */
   top: -10px;
   left: 30px;
   border-bottom: 10px solid white;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
}
